.card {
  height: 215px;
  overflow: hidden;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.10);
  transition: linear 0.2s;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.card a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}
.card-head{
  height: 116px;
}
.card-head img {
  height: 60px;
  width: 60px;
  margin: 10px 0 5px 0;
  border-radius: 50%;
  background-color: white;
}
.card-head h2 {
  height: 21px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
}
.card-head h3 {
  height: 16px;
  margin: 0 0 4px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.75);
}
.card-description {
  height: 64px;
  padding: 0 10px;
  line-height: 64px;
  text-align: center;
}
.card-description p {
  display: inline-block;
  vertical-align: middle;
  max-height: 48px;
  margin: 0;
  overflow: auto;
  line-height: 16px;
  word-break: break-word;
}
.card-minor {
  display: flex;
  height: 35px;
  font-weight: bold;
}
.icon {
  position: relative;
  bottom: 1px;
}
.lang-circle {
  position: relative;
  bottom: 1px;
  flex-shrink: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}
.card-minor-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.card-minor-info span {
  margin-left: 3px;
  line-height: 12px;
}
