@import '~antd/dist/antd.css';
html, body {
  height: initial
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #2dffff;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:600px) {
  .content {
  flex-wrap: wrap;
  }
}